/* about page css */
.about_page_welcome {
  width: 100%;
}

.about_page_welcome_text {
  position: absolute;
  top: 200px;
  left: 10%;
  color: #14b0ee;
}

.about_page_welcome_title {
  margin-bottom: 20px;
  font-weight: unset;
}

.about_page_welcome_para {
  font-family: font3;
  margin-bottom: 10px;
  font-style: italic;
}

.about_page_welcome_contact {
  padding: 10px;
  border: 1px solid #1a86af;
  border-radius: 5px;
  outline: none;
}

.about_page_welcome_contact:hover {
  background-color: #1a86af;
  color: white;
  text-decoration: none;
}

/* end about welcome */

.company_profile {
  display: inline-block;
  width: 30%;
  margin-left: 10%;
  margin-top: 50px;
  padding: 20px;
  background-color: #d8eaf1;
  border-radius: 7px;
}

.company_profile h1 {
  text-align: center;
}

/* about profile table */
.profile_table {
  border-spacing: 10px;
  /* padding-left: 10px; */
  width: 100%;
  font-family: font3;
  font-weight: 500;
}

.company_profile p {
  margin-top: 10px;
  font-family: font3;
  text-align: justify;
}

/* company vision mission */
.company_vision,
.company_mission {
  padding: 20px;
  background-color: #d8eaf1;
  margin-bottom: 20px;
  border-radius: 7px;
}

.vision_mission {
  margin-top: 50px;
  float: right;
  margin-right: 10%;
  width: 30%;
}

.company_vision p,
.company_mission p {
  margin-top: 10px;
  font-family: font3;
}

.welcome_button {
  text-decoration: none;
}

.welcome_button:hover {
  color: white;
}

/* certificate */
.respon_grid {
  float: left;
  margin-bottom: 50px;
  margin-right: 10%;
  margin-left: 10%;
  display: grid;
  grid-template-columns: auto auto;
}

.respon_text {
  margin-left: 10px;
}

/* quality certificate */
.quality_grid {
  float: right;
  margin-right: 10%;
  margin-left: 10%;
  display: grid;
  grid-template-columns: auto auto;
}

.quality_text {
  margin-right: 10px;
}

.respon_text h2,
.quality_text h2 {
  padding-top: 20px;
  padding-bottom: 10px;
}

.respon_text p,
.quality_text p {
  font-family: font3;
  text-align: justify;
}